*{
margin: 0;
padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root{
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
h1{
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left p{
    color: var(--DarkGrayishMagenta);
}
.right .starM{
    background-color: var(--LightGrayishMagenta);
}
.right .starM p{
    color: var(--VeryDarkMagenta);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.bottom .div{
background-color: var(--VeryDarkMagenta);
}
.bottom .div p{
color: var(--White);
}
.bottom .div .photo{
    display: flex;
}
.bottom .div .photo span{
    color: var(--SoftPink);
    font-weight: 500;
}

@media only screen and (min-width:320px){
    main{
        height: fit-content;
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    .left h1{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .left p{
        width: 90%;
        padding-bottom: 29px;
    }
    
    .right{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .right .starM{
        border-radius: 12px;
        width: 85%;
        padding: 10px;
    }
    .right .starM .stars img{
        width: 5%;
    }
    .right .starM p{
    font-size: 11px;
    font-weight: 900;
    }

    .bottom{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 90%;
    }
    .bottom .div{
        padding: 40px;
        padding-left: 20px;
        border-radius: 12px;
    }
    .bottom .div p{
    font-size: 15px;
    }
    .bottom .div .photo{
        justify-content:flex-start;
        gap: 16px;
        padding-bottom: 20px;
    }
    .bottom .div .photo img{
        width: 15%;
        border-radius: 180px;
    }
    .bottom .div .photo span{
        font-weight: 500;
    }
    .testimony{
        text-align: left;
    }
}
@media only screen and (min-width:375px){
    .left h1{
        width: 80%;
    }
    .left p{
        width: 80%;
    }
    .right .starM p{
    font-size: 13px;
    }
    .bottom .div .photo{
        gap: 0px;
        width: 70%;
    }
    .bottom .div .photo img{
        width: 25%;
    }
    .bottom .div p{
        font-size: 18px;
        width: 100%;
    }
}
@media only screen and (min-width:470px){
    .bottom .div{
        padding: left 540px;
    }
    .bottom .div .photo{
        width: 50%;
    }
    .bottom .div .photo img{
        width: 25%;
    }
    .bottom .div p{
        font-size: 18px;
        width: 100%;
    }
}
@media only screen and (min-width:768px){
    .left h1{
        width: 50%;
    }
    .left p{
        width: 60%;
        font-size: 20px;
    }.right .starM{
        width: 73%;
    }
    .right .starM .stars{
        padding-bottom: 10px;
    }
    .right .starM .stars img{
        width: 4%;
    }
    .right .starM p{
    font-size: 15px;
    }

    .bottom .div{
        padding-left: 50px;
        width: 70%;
    }
    .bottom .div .photo{
        width: 45%;
    }
    .bottom .div .photo img{
        width: 25%;
    }
    .bottom .div p{
        font-size: 20px;
        width: 90%;
    }
}
@media only screen and (min-width:992px){
    main{
        height: 100vh;
    }
    .top{
        display: flex;
        width: 95%;
        gap: 40px;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items:flex-start;
        width: 55%;
    }
    .left h1{
        font-size: 45px;
        text-align: left;
        width: 80%;
    }
    .left p{
        width: 95%;
        text-align: left;
        font-weight: 500;
    }

    .right{
        transform: translateY(-30px);
    }
    .right .starM{                                          
        display: flex;
        width: fit-content;
    }
    .right .M1{
        margin-left: -100px;
    }
    .right .M2{
        margin-left: 0px;
    }
    .right .M3{
        margin-left: 50px;
    }
    .right .starM .stars img{
        width: 15%;
    }
    .right .starM p{
    font-size: 11px;
    font-weight: 900;
    }

    .bottom{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 95%;
    }
    .bottom .div{
        padding: 40px;
        padding-left: 30px;
        border-radius: 12px;
        width: 35%;
    }
    .bottom .div2{
        transform: translateY(20px);
    }
    .bottom .div3{
        transform: translateY(40px);
    }
    .bottom .div p{
    font-size: 15px;
    width: 100%;
    }
    .bottom .div .photo{
        width: 80%;
    }
    .bottom .div .photo img{
        width: 20%;
    }
    .bottom .div .photo span{
        font-weight: 500;
    }
    .testimony{
        text-align: left;
    }
}
@media only screen and (min-width:1024px){
    .top{
        width: 85%;
    }

    .right .M1{
        margin-left: -100px;
    }
    .right .M2{
        margin-left: 0px;
    }
    .right .M3{
        margin-left: 60px;
    }
    .right .starM .stars img{
        width: 15%;
    }
    .right .starM p{
    font-size: 11px;
    font-weight: 900;
    }

    .bottom{
        width: 85%;
    }
}
@media only screen and (min-width:1200px){
    main{
        height: 90vh;
    }
    .left p{
        width: 80%;
    }
    .right{
        transform: translateX(50px);
    }
    .right .starM{     
        width: 100%;
        gap: 30px;
    }
}
@media only screen and (min-width:1400px){
    main{
        height: 80vh;
    }
    .left p{
        width: 80%;
    }
    .right{
        transform: translateX(50px);
    }
    .right .starM{     
        width: 100%;
        gap: 30px;
    }
}
@media only screen and (min-width:1440px){
    .top{
        width: 80%;
    }
    .left h1{
        width: 75%;
    }
    .left p{
        width: 80%;
        font-size: 22px;
    }
    .right{
        transform: translateX(50px);
        transform: translateY(-34px);
    }
    .right .starM{     
        width: 100%;
        gap: 30px;
    }
    
    .right .starM .stars img{
        width: 16%;
    }
    .right .starM p{
    font-size: 13px;
    font-weight: 900;
    }

    .bottom{
        width: 80%;
    }
    .bottom .div{
        padding-left: 40px;
        width: 25%;
        height: 20vh;
    }
    .bottom .div p{
        font-size: 18px;
        width: 105%;
        }
        .bottom .div .photo{
            width: 65%;
        }
        .bottom .div .photo img{
            width: 25%;
        }
}
@media only screen and (min-width:1600px){
    .top{
        width: 76%;
    }
    .left h1{
        width: 75%;
    }
    .left p{
        width: 75%;
    }
    .right{
        transform: translateX(65px);
    }
    .bottom{
        width: 85%;
    }
    .bottom .div{
        width: 23%;
    }
    .bottom .div p{
        width: 96%;
        }
}
@media only screen and (min-width:2000px){
    .top{
        width: 76%;
    }
    .left h1{
        width: 75%;
    }
    .left p{
        width: 60%;
    }
    .right{
        transform: translateX(100px);
    }
    .right .starM{
        gap: 25px;
        width: 110%;
    }
    .right .starM .stars{
        width: 80%;
    }
    .right .starM .stars img{
        width: 14%;
    }
    .right .starM p{
    font-size: 17px;
    width: 150%;
    }

    .bottom{
    width: 85%;
    }
    .bottom .div{
    width: 24%;
    padding-bottom: 5%;
    }
    .bottom .div p{
    width: 100%;
    font-size: 22px;
    }
    .bottom .div .photo{
    width: 60%;
    align-items: center;
    }
    .bottom .div .photo img{
    width: 30%;
    }
}
@media only screen and (min-width:2500px){
    .top{
        width: 76%;
    }
    .left h1{
        width: 75%;
        font-size: 55px;
    }
    .left p{
        width: 65%;
        font-size: 30px;
    }
    .right{
        transform: translateX(100px);
    }
    .right .starM{
        gap: 25px;
        width: 110%;
    }
    .right .starM .stars img{
        width: 18%;
    }
    .right .starM p{
    font-size: 22px;
    }

    .bottom{
    width: 85%;
    }
    .bottom .div{
    width: 26%;
    padding-bottom: 5%;
    }
    .bottom .div p{
    width: 100%;
    font-size: 28px;
    }
    .bottom .div .photo{
    width: 60%;
    align-items: center;
    }
    .bottom .div .photo img{
    width: 30%;
    }
}