*{
margin: 0;
padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: var(--White);
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
footer{
    position: fixed;
}
:root{
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
h1{
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left p{
    color: var(--DarkGrayishMagenta);
}
.right .starM{
    background-color: var(--LightGrayishMagenta);
}
.right .starM p{
    color: var(--VeryDarkMagenta);
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.bottom .div{
background-color: var(--VeryDarkMagenta);
}
.bottom .div p{
color: var(--White);
}
.bottom .div .photo{
    display: flex;
}
.bottom .div .photo span{
    color: var(--SoftPink);
    font-weight: 500;
}

@media only screen and (min-width:320px){
    main{
        height: fit-content;
        padding-top: 50px;
        text-align: center;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    .left h1{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .left p{
        width: 90%;
        padding-bottom: 29px;
    }
    
    .right{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .right .starM{
        border-radius: 12px;
        width: 85%;
        padding: 10px;
    }
    .right .starM .stars img{
        width: 5%;
    }
    .right .starM p{
    font-size: 11px;
    font-weight: 900;
    }

    .bottom{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 90%;
    }
    .bottom .div{
        padding: 40px;
        padding-left: 20px;
        border-radius: 12px;
    }
    .bottom .div p{
    font-size: 15px;
    }
    .bottom .div .photo{
        justify-content:flex-start;
        gap: 16px;
        padding-bottom: 20px;
    }
    .bottom .div .photo img{
        width: 15%;
        border-radius: 180px;
    }
    .bottom .div .photo span{
        font-weight: 500;
    }
    .testimony{
        text-align: left;
    }
}
@media only screen and (min-width:375px){
    .left h1{
        width: 80%;
    }
    .left p{
        width: 80%;
    }
    .right .starM p{
    font-size: 13px;
    }
    .bottom .div .photo{
        gap: 0px;
        width: 70%;
    }
    .bottom .div .photo img{
        width: 25%;
    }
    .bottom .div p{
        font-size: 18px;
        width: 100%;
    }
}
@media only screen and (min-width:768px){
    .left h1{
        width: 50%;
    }
    .left p{
        width: 60%;
        font-size: 20px;
    }
    .right .starM .stars{
        padding-bottom: 10px;
    }
    .right .starM .stars img{
        width: 4%;
    }
    .right .starM p{
    font-size: 15px;
    }

    .bottom .div{
        padding-left: 50px;
    }
    .bottom .div .photo{
        width: 50%;
    }
    .bottom .div .photo img{
        width: 25%;
    }
    .bottom .div p{
        font-size: 30px;
        width: 95%;
    }
}